body {
  background-color: rgb(198, 204, 227);
  font-size: 24px;
}

img {
  display: block;
  margin: 0 auto;
  width: 75%;
}

button {
  display: block;
  margin: 0 auto;
  width: 15%;
  margin-bottom: 3%;
}

h1,
p {
  text-align: center;
}

h1 {
  color: rgba(17, 17, 158);
  text-decoration: underline;
}

a {
  text-decoration: none;
}

ul {
  display: inline-block;
}

li {
  margin: 1rem;
}

.flash {
  font-size: 1.25rem;
  font-weight: bold;
  list-style-position: inside;
  margin: 0 2rem;
  max-width: 100%;
}

.flash li {
  margin: 0.5rem auto;
  padding: 0.5rem 2rem;
}

.error {
  background-color: #ffcfbf;
  color: #ff6633;
}

.success {
  background-color: #a0f0a0;
  color: #33cc99;
}

.info {
  background-color: #cbe5f2;
  color: #3399cc;
}