extends layout 

block main 
  p Tell us about your favourite movies!
  button Sign Up
  img(src="/images/Children_of_paradise.jpg" alt="Children of Paradise" title="Children of Paradise")

//- doctype html

//- html
//-   head
//-     title The Ultimate Movie App
//-     meta(charset="UTF-8")
//-     link(rel="stylesheet" href="/stylesheets/application.css")

//-   body
//-     header
//-       h1 The Ultimate Movie App
//-     main
//-       p Tell us about your favourite movies!
//-       img(src="/images/Children_of_paradise.jpg" alt="Children of Paradise" title="Children of Paradise")
