extends layout 

block main 
  fieldset.actions
    form(action="/movies" method="get")
      button See Movies

    form(action="/reviews" method="get")
      button See Reviews


  p Tell us about your favourite movies!
  
    form(action="/signUp" method="get")
      button Sign Up

  p Already signed up? 

    form(action="/signIn" method="get")
      button Sign In

  img(src="/images/Children_of_paradise.jpg" alt="Children of Paradise" title="Children of Paradise")
