extends layout 

block main 
  p Tell us about your favourite movies!
  
    form(action="/signup" method="get")
      button Sign Up

    form(action="/movies" method="get")
      button See Movies

    form(action="/reviews" method="get")
      button See Reviews

  img(src="/images/Children_of_paradise.jpg" alt="Children of Paradise" title="Children of Paradise")