extends layout 

block main 

  block Movies 
  form(action="/movies/create" method="get")
    button Add a Movie

  ul
  each movie in movies
    p 
    a(href=`/movies/${movie.id}`)= movie.title
      