extends layout 

block main 
  if err != undefined 
    p #{err}
    
  p Here are the Movie Reviews:

    form(action="/reviews/create" method="get")
      button Add a Review 

  block reviews
    ul
    each review in reviews
      table 
        tr 
          td 
            a(href=`/reviews/${review.id}`)= review.movie
          td | Reviewed by: 
            a(href=`/reviews/reviewers/${review.reviewer}`)= review.reviewer 
          td | Grade: #{review.grade} 
         
block footer